
body {
  overflow: hidden !important;
}

.max-width-form {
  max-width: 900px;
}

/* .header{
  width: 100%;
  height: 60px;
  background: #f5f5f5;
} */

.gender-wrapper{
  display: flex;
}

textarea{
  resize: none;
}

.radio-wrapper{
  display: flex;
  margin-left: 10px;
}


/* form{
  width: 50%;
  margin: 20px auto;
  border: 1px solid #eee;
} */

label{
  font-size: 16px;
}

label, ::placeholder, h1{
  font-family: 'Montserrat', sans-serif;
}

::placeholder, select{
  font-size: 13px;
  color: #404040;
}

.label-align{
  width: 30%;
  display: inline-block;
  text-align: right;
}

input[type="text"], .genderSelect, input[type="date"], input[type="number"], textarea, input[type="email"], .postSelect, input[type="file"], input[type='submit'], .HiringSelect{
  /* border: 1px solid #ccc; */
  padding: 12px 10px;
  border-radius: 3px;
  width: 60%;
  margin-left: 10px;
  display: inline-block;
  transition: all 0.1s ease-in-out;
}


.genderSelect, .postSelect{
  display: inline-block;
}

.header h1{
  margin-left: 35px;
  font-family: 'Comforta', sans-serif;
  color: #505050;
  font-size: 22px;
}


.header{
  display: flex;
  align-items: center;
}


select:focus{
  outline: none;
  /* border-color: #ccc !important; */
}

input:focus, textarea:focus{
  outline: none;
}

input[type="submit"]{
  display: block;
  width: 100%;
  padding: 15px 12px;
  border: 0;
  background-color: #0E58DF;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
}

input[type="submit"]:hover{
  opacity: .8;
}

.content{
  margin-top: 15px;
}

.warningInput{
  transition: all 0.1s ease-in-out;
}

.warningInput::-webkit-input-placeholder{
  color: red !important;
}